<!DOCTYPE html>
<html>
    <head>
        <title>neighborhost.com</title>
        <!-- <style></style> -->
    </head>
    <body>
        <h1>Let's get you verified!</h1>
        <h2>
            Verfication is not required but hosts may reject your request to join their event if your account is not verified as living in the neighborhood.
            You also will not be able to host events without being verified.
            We'll also be able to show you more events directly around your address! 
            Provide your full name and address below and we will send you a letter to this address with a code you can use to verify your account.
            Don't worry! Your address will never be displayed or shared.
        </h2>
        <form action="/skip_verification/" method="POST">{% csrf_token %}
            <input type="submit" value="I'll verify later." style="cursor:pointer"> <!-- change color -->
        </form>
        <br>
        <form action="/account_verify_from_signup/" method="POST">{% csrf_token %}
            <div>
                <div>
                    <input type="text" id="first_name" name="first_name" placeholder="First name" required>
                    <input type="text" id="last_name" name="last_name" placeholder="Last name" required>
                </div>
                <br>
                <div>
                    <input type="text" id="address" name="address" placeholder="123 Main St" required>
                </div>
                <br>
                <div>
                    <input type="text" id="city" name="city" placeholder="City" required>
                    <select id="state" name="state" required>
                        <option value="State">State</option>
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Arizona">Arizona</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="Bureau of Indian Education">Bureau of Indian Education</option>
                        <option value="California">California</option>
                        <option value="Colorado">Colorado</option>
                        <option value="Connecticut">Connecticut</option>
                        <option value="Delaware">Delaware</option>
                        <option value="District of Columbia">District of Columbia</option>
                        <option value="Federated States of Micronesia">Federated States of Micronesia</option>
                        <option value="Florida">Florida</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Guam">Guam</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="Idaho">Idaho</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option>
                        <option value="Kansas">Kansas</option>
                        <option value="Kentucky">Kentucky</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option>
                        <option value="Maryland">Maryland</option>
                        <option value="Massachusetts">Massachusetts</option>
                        <option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option>
                        <option value="Mississippi">Mississippi</option>
                        <option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option>
                        <option value="Nebraska">Nebraska</option>
                        <option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="New Jersey">New Jersey</option>
                        <option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="North Dakota">North Dakota</option>
                        <option value="Northern Marianas">Northern Marianas</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Oklahoma">Oklahoma</option>
                        <option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Republic of Palau">Republic of Palau</option>
                        <option value="Republic of the Marshall Islands">Republic of the Marshall Islands</option>
                        <option value="Rhode Island">Rhode Island</option>
                        <option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Utah">Utah</option>
                        <option value="Vermont">Vermont</option>
                        <option value="Virgin Islands">Virgin Islands</option>
                        <option value="Virginia">Virginia</option>
                        <option value="Washington">Washington</option>
                        <option value="West Virginia">West Virginia</option>
                        <option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming">Wyoming</option>
                    </select>
                    <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" required>
                </div>
            </div>
            <br>
            <input type="submit" style="cursor:pointer">
        </form>
        
    </body>
</html>