<!--------------------------------------------------------------------- 5. LANDING PAGE ------------------------------------------------------------------------>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------
1. STYLE SETTING
    1A. AUTOFITS WEBPAGE TO USERS SCREEN SIZE
    1B. CREATES CONTAINER TO ORGANIZE WEBPAGE INTO COLUMNS
    1C. ORGANIZES WEBPAGE INTO COLUMNS
    1D. DESIGNATES LEFT COLUMN WITHIN CONTAINER, TAKES UP LEFT QUARTER OF PAGE
    1E. DESIGNATES RIGHT COLUMN WITHIN CONTAINER, TAKES UP RIGHT THREE QUARTERS OF PAGE
    1F. CREATES BORDER BETWEEN COLUMNS
    1G. STYLES POPUP EVENT PLANNING FORM
    1H. STYLES CLOSE BUTTON ON POPUP SIGNUP FORM
    1I. SPLITS POPUP BOX INTO COLUMNS
    1J. APPLIES CONTAINER
    1K. CODE UNDER THIS SECTION FALLS UNDER LEFT COLUMN
2. PROFILE SECTION
    2A. WELCOME MESSAGE DISPLAYS USER'S SPECIFIC NAME ACCORDING TO LOGIN
    2B. ?
    2C-?. ?
    2?. PLAN AN EVENT BUTTON OPENS POPUP BOX FOR USER TO CREATE/ENTER EVENT DETAILS
3. PLAN AN EVENT POPUP BOX
    3A. CONNECTS TO "X" CLOSE BUTTON
    3B. PLAN AN EVENT FORM
4. DASHBOARD SECTION
---------------------------------------------------------------------------------------------------------------------------------------------------------------->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!------------------------- 1. STYLE SETTING ------------------------->

        <!----------- 1A. AUTOFITS WEBPAGE TO USERS SCREEN SIZE ------------->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>neighborhost.com</title>
        <style>
            /* 1B. CREATES CONTAINER TO ORGANIZE WEBPAGE INTO COLUMNS */
            .container {
                display: flex;
                overflow: hidden;
            }
            /* 1C. ORGANIZES WEBPAGE INTO COLUMNS */
            .column {
                padding: 20px;
                position: relative;
            }
            /* 1D. DESIGNATES LEFT COLUMN WITHIN CONTAINER, TAKES UP LEFT QUARTER OF PAGE */
            .column1 {
                flex: 0 0 auto;
                flex-basis: 25%;
                position: sticky;
                top: 0;
                z-index: 1;
                overflow-y: auto;
            }
            /* 1E. DESIGNATES RIGHT COLUMN WITHIN CONTAINER, TAKES UP RIGHT THREE QUARTERS OF PAGE */
            .column2 {
                flex: 3;
                flex-basis: 75%;
            }
            /* 1F. CREATES BORDER BETWEEN COLUMNS */
            .column1::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 1px;
                background-color:black;
            }
            /* 1G. STYLES POPUP EVENT PLANNING FORM */
            .popup {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                padding: 20px;
                background-color: #fff;
                border: 1px solid #ccc;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                z-index: 1000;
            }
            /* 1H. STYLES CLOSE BUTTON ON POPUP SIGNUP FORM */
            .close_button {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
            /* 1I. SPLITS POPUP BOX INTO COLUMNS */
            .column_popup {
                flex: 1;
            }
            .fixed_container {
                display: flex;
                justify-content: space-between;
                position: fixed;
                top: 0;
                z-index: 1;
                background-color: white;
                padding: 20px;
                width: 69%;
            }
            .scrolling_container {
                margin-top: 75px;
                overflow-y: auto;
                height: 68vh;
            }
            .right_container {
                display: flex;
                justify-content: space-between;
            }
            .right_columns {
                flex: 1;
            }
            .round_button {
                border-radius: 4px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <!-- 1J. APPLIES CONTAINER -->
        <div class="container">
            <!-- 1K. CODE UNDER THIS SECTION FALLS UNDER LEFT COLUMN -->
            <div class="column column1">
                <!-------------------------------------- 2. PROFILE SECTION -------------------------------------------->
                <!-- 2A. WELCOME MESSAGE DISPLAYS USER'S SPECIFIC NAME ACCORDING TO LOGIN -->
                <form action="/home/" method="POST">{% csrf_token %}
                    <button type="submit" id="home_click" name="home_click" style="border:none; padding:0; background-color:white; cursor:pointer">
                        <img src="{% static 'neighborhost_logo.png' %}" width="200" height="28"/></h2>
                    </button>
                </form>
                <h1 style="font-family:Arial, Helvetica, sans-serif">
                    Howdy, {% if neighbor_name == None %}{{ neighbor_username }}{% else %}{{ neighbor_name }}{% endif %}!
                    {% if verified == True %}
                    <span>&#10003;</span> <!-- checkmark -->
                </h1>
                {% elif address == None %}
                <h3>
                    <form action="/account_verify_from_login/" method="POST">{% csrf_token %}
                        <input type="submit" value="Verify Your Account!" class="round_button">
                    </form>
                </h3>
                {% elif verified == False %}
                <h3 style="font-weight: normal">
                    <p>
                        <form action="/verify_with_code/" method="POST">{% csrf_token %}
                            <label style="color:blue">Be on the lookout for your mail! If you have your code ready:</label>
                            <input type="submit" value="Verify" class="round_button">
                        </form>
                    </p>
                </h3>
                {% endif %}
                <div>
                    {% if profile_picture == 'none' %}
                    <form action="/upload_profile_picture/" method="POST">{% csrf_token %}
                        <label>Upload a profile picture!</label>
                        <br>
                        <input type="file" id="profile_picture" name="profile_picture" accept="image/*" class="round_button">
                        <input type="submit" value="Upload" class="round_button">
                    </form>
                    {% else %}
                    <img src="{% static '/' %}{{ profile_picture }}" width="200" height="200"/>
                    {% endif %}
                </div>
                <br>
                <div>
                    {% if friends == True %}
                    <label style="color:red">Browse through events to add friends!</label>
                    {% endif %}
                    <form action="/friends_check/" method="POST">{% csrf_token %}
                        <input type="submit" value="Friends" style="background-color:blue; color:white; font-family:Arial, Helvetica, sans-serif; font-weight:bold" class="round_button">
                    </form>
                </div>
                <br>
                <!-- 2C-?. ? -->
                <!-- 2?. PLAN AN EVENT BUTTON OPENS POPUP BOX FOR USER TO CREATE/ENTER EVENT DETAILS -->
                <div>
                    <button onclick="togglePopup()" style="background-color: red; color:white; font-family:Arial, Helvetica, sans-serif; font-weight:bold" class="round_button">Plan an Event</button>
                </div>

                <h3>
                    <form>
                        <input type="submit" value="View Your Profile" style="background-color:gold; font-family:Arial, Helvetica, sans-serif; font-weight:bold" class="round_button">
                    </form>
                </h3>

                <form action="/signout/" method="POST">{% csrf_token %}
                    <input type="submit" value="Sign Out" style="background-color: black; color:white; font-family:Arial, Helvetica, sans-serif; font-weight:bold" class="round_button">
                </form>
            </div>
            <!-- 3. PLAN AN EVENT POPUP BOX -->
            <div id="signupPopup" class="popup">
                <!-- 3A. CONNECTS TO "X" CLOSE BUTTON -->
                <span class="close_button" onclick="togglePopup()" class="round_button" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold">X</span>
                <!-- 3B. PLAN AN EVENT FORM -->
                {% if verified == False %}
                <h1 style="font-family:Arial, Helvetica, sans-serif">Verify your account if you'd like to host an event!</h1>
                {% else %}
                <form action="/plan_event/" method="POST">{% csrf_token %}
                    <h1 style="font-family:Arial, Helvetica, sans-serif">What are you neighborhosting?</h1>
                    
                    <div>
                        <label style="font-family:Helvetica">Describe your event: what's your favorite thing to do with people?</label>
                        <br>
                        <textarea id="event_description" name="event_description" placeholder="e.g., We will be learning how to cook pho broth!" style="width:100%; font-family:Arial, Helvetica, sans-serif"></textarea>
                    </div>
        
                    <br>
                    
                    <div>
                        <label style="font-family:Arial, Helvetica, sans-serif">Event Name</label>
                        <br>
                        <input type="text" id="event_name" name="event_name" placeholder="Cooking class, Concert, etc." style="width:100%; font-family:Arial, Helvetica, sans-serif"> <!--would be cool to have a placeholder that changes every couple of seconds-->
                    </div>
                    
                    <br>

                    <div class="container">
                        <div class="column_popup">
                            <label style="font-family:Arial, Helvetica, sans-serif">Start date</label>
                            <br>
                            <input type="date" id="event_start_date" name="event_start_date" style="font-family:Arial, Helvetica, sans-serif">
                        </div>
                        <div class="column_popup">
                            <label style="font-family:Arial, Helvetica, sans-serif">End date</label>
                            <br>
                            <input type="date" id="event_end_date" name="event_end_date" style="font-family:Arial, Helvetica, sans-serif">
                        </div>
                    </div>

                    <br>

                    <div class="container">
                        <div class="column_popup">
                            <div>
                                <label style="font-family:Arial, Helvetica, sans-serif">Start time</label>
                                <br>
                                <input type="time" id="event_start_time" name="event_start_time" style="font-family:Arial, Helvetica, sans-serif">
                            </div>
                        </div>
                        <div class="column_popup">
                            <label style="font-family:Arial, Helvetica, sans-serif">End time</label>
                            <br>
                            <input type="time" id="event_end_time" name="event_end_time" style="font-family:Arial, Helvetica, sans-serif">
                        </div>
                    </div>

                    <br>

                    <div>
                        <label style="font-family:Arial, Helvetica, sans-serif">Does this event reoccur?</label>
                        <br>
                        <select id="event_reoccur" name="event_reoccur" style="font-family:Arial, Helvetica, sans-serif">
                            <option value="No">No</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Bi-weekly">Bi-weekly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Quarterly">Quarterly</option>
                            <option value="Every 6 months">Every 6 months</option>
                            <option value="Yearly">Yearly</option>
                        </select>
                    </div>

                    <br>

                    <div>
                        <label style="font-family:Arial, Helvetica, sans-serif">Address</label>
                        <br>
                        <input type="text" id="event_address" name="event_address" placeholder="123 Main St" style="width:100%; font-family:Arial, Helvetica, sans-serif">
                    </div>

                    <br>

                    <div>
                        <input type="text" id="event_city" name="event_city" placeholder="City" style="font-family:Arial, Helvetica, sans-serif;">
                        <select id="event_state" name="event_state" style="font-family:Arial, Helvetica, sans-serif">
                            <option value="State">State</option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="Bureau of Indian Education">Bureau of Indian Education</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="District of Columbia">District of Columbia</option>
                            <option value="Federated States of Micronesia">Federated States of Micronesia</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Guam">Guam</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Northern Marianas">Northern Marianas</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Republic of Palau">Republic of Palau</option>
                            <option value="Republic of the Marshall Islands">Republic of the Marshall Islands</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virgin Islands">Virgin Islands</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                        <input type="text" id="event_zipcode" name="event_zipcode" placeholder="Zipcode" style="font-family:Arial, Helvetica, sans-serif">
                    </div>

                    <br>

                    <div>
                        <label style="font-family:Arial, Helvetica, sans-serif">Would you like to take this event public?</label><input type="checkbox" id="event_public" name="event_public">
                    </div>

                    <br>

                    <input type="submit" value="Plan!" style="background-color:blue; color:white; cursor:pointer; font-family:Arial, Helvetica, sans-serif; font-weight:bold">
                    
                    <br>
                    <br>

                </form>
                {% endif %}
            </div>

            <script>
                function togglePopup() {
                    var popup = document.getElementById('signupPopup');
                    popup.style.display = (popup.style.display === 'none' || popup.style.display === '') ? 'block' : 'none';
                }
            </script>

            <div class="column column2">
                <div class="fixed_container">
                    <div class="right_columns">
                        <br>
                        <form action="/filter_location/" method="POST">{% csrf_token %}
                            <select id="location_filter" name="location_filter">
                                <option value="My zipcode">My zipcode (Z)</option>
                                <option value="My neighborhood">My neighborhood (N)</option>
                                <option value="My city">My city (C)</option>
                                <option value="All">All (A)</option>
                                <option value="Other">Other (O)</option>
                                <!-- <option value="My city">My city</option> maybe add for state, region, etc. --> 
                            </select>
                            <input type="submit" value="Filter by location" style="background-color:blue; color:white" class="round_button">
                        </form>
                        <br>
                        <form action="/filter_search/" method="post">
                            <input type="text" id="filter_search" name="filter_search" placeholder="Search for events (e.g., cooking, etc.)">
                            <input type="submit" value="Filter by keyword(s)" style="background-color:red; color:white" class="round_button">
                        </form>
                    </div>
                    <div class="right_columns">
                        <br>
                        <form action="/filter_view/" method="POST">{% csrf_token %}
                            <select id="view_filter" name="view_filter">
                                <option value="List view">List view</option>
                                <option value="Calendar view">Calendar view</option>
                                <!-- <option value="Map view">Map view</option> -->
                            </select>
                            <input type="submit" value="Change view" style="background-color:gold" class="round_button">
                        </form>
                        <br>
                        <form action="/filter_date/" method="POST">{% csrf_token %}
                            <select id="date_by" name="date_by">
                                <option value="On">On</option>
                                <option value="Before">Before</option>
                                <option value="After">After</option>
                            </select>
                            <input type="date" id="filter_date" name="filter_date">
                            <input type="submit" value="Filter by date" style="background-color:black; color:white" class="round_button">
                            {% block filter_date_content %}
                            {% endblock %}
                        </form>
                    </div>
                    <div class="right_columns">
                        <br>
                        <div class="right_container">
                            <div class="right_columns">
                                <form action="/refresh_events/" method="post">
                                    <input type="submit" value="Refresh Events List" style="background-color:blue; color:white" class="round_button">
                                </form>
                            </div>
                            <div class="right_columns" style="padding-left:10px">
                                <form>
                                    <input type="submit" value="Filter All" style="background-color:red; color:white" class="round_button">
                                </form>
                            </div>
                            <div class="right_columns">
                            </div>
                        </div>
                        <br>
                        <form action="/filter_time/" method="post">
                            <select id="time_by" name="time_by">
                                <option value="At">At</option>
                                <option value="Before">Before</option>
                                <option value="After">After</option>
                            </select>
                            <input type="time" id="filter_time" name="filter_time">
                            <input type="submit" value="Filter by time" style="background-color:gold" class="round_button">
                        </form>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="scrolling_container" style="border:black; border-width:1px; border-top:solid; padding-top:20px">
                    {% block filter_location_content %}
                    {% endblock %}
                    {% if view_filter_choice == 'Calendar view' %}
                    <div class="right_container">
                        <div class="right_columns"></div>
                        <div class="right_columns">
                            <br>
                            <form style="padding-left:50px" action="/filter_calendar/" method="POST">{% csrf_token %}
                                <select id="month" name="month">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                <select id="year" name="year">
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                                <input type="submit" value="Filter by Month/Year" class="round_button">
                            </form>
                            <h1>{{ cal|safe }}</h1>
                            <div class="right_container">
                                <div class="right_columns">
                                    <form align="right">
                                        <input type="submit" value="Last month" class="round_button"> <!-- use form with buttons with values instead-->
                                    </form>
                                </div>
                                <div class="right_columns">
                                    <form align="left">
                                        <input type="submit" value="Next month" class="round_button">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="right_columns"></div>
                    </div>
                    {% else %}
                    {% for column in events_data %}
                        {% if column.neighborhood_match == True %}
                        <form action="/view_event_from_login/" method="POST">{% csrf_token %}
                            <button type="submit" style="width:100%; background-color:white; font-family:Arial, Helvetica, sans-serif" class="round_button" id="event_id" name="event_id" value="{{ column.event_id }}">
                                <div class="right_container">
                                    <label style="color:red; font-weight:normal">N</label>
                                    <div class="right_columns">
                                        <h2>{{ column.event_name }}</h2>
                                    </div>
                                    <div class="right_columns">
                                        <h2>{{ column.event_start_date }} to {{ column.event_end_date }}</h2>
                                    </div>
                                    <div class="right_columns">
                                        <h2>{{ column.event_start_time }} to {{ column.event_end_time }}</h2>
                                    </div>
                                </div>
                            </button>
                        </form>
                        {% elif column.zipcode_match == True %}
                        <form action="/view_event_from_login/" method="POST">{% csrf_token %}
                            <button type="submit" style="width:100%; background-color:white; font-family:Arial, Helvetica, sans-serif" class="round_button" id="event_id" name="event_id" value="{{ column.event_id }}">
                                <div class="right_container">
                                    <label style="color:blue; font-weight:normal">Z</label>
                                    <div class="right_columns">
                                        <h2>{{ column.event_name }}</h2>
                                    </div>
                                    <div class="right_columns">
                                        <h2>{{ column.event_start_date }} to {{ column.event_end_date }}</h2>
                                    </div>
                                    <div class="right_columns">
                                        <h2>{{ column.event_start_time }} to {{ column.event_end_time }}</h2>
                                    </div>
                                </div>
                            </button>
                        </form>
                        {% elif column.city_match == True %}
                        <form action="/view_event_from_login/" method="POST">{% csrf_token %}
                            <button type="submit" style="width:100%; background-color:white; font-family:Arial, Helvetica, sans-serif" class="round_button" id="event_id" name="event_id" value="{{ column.event_id }}">
                                <div class="right_container">
                                    <label style="color:black; font-weight:normal">C</label>
                                    <div class="right_columns">
                                        <h2>{{ column.event_name }}</h2>
                                    </div>
                                    <div class="right_columns">
                                        <h2>{{ column.event_start_date }} to {{ column.event_end_date }}</h2>
                                    </div>
                                    <div class="right_columns">
                                        <h2>{{ column.event_start_time }} to {{ column.event_end_time }}</h2>
                                    </div>
                                </div>
                            </button>
                        </form>
                        {% else %}
                        <form action="/view_event_from_login/" method="POST">{% csrf_token %}
                            <button type="submit" style="width:100%; background-color:white; font-family:Arial, Helvetica, sans-serif" class="round_button" id="event_id" name="event_id" value="{{ column.event_id }}">
                                <div class="right_container">
                                    <label style="color:gold; font-weight:normal">A</label>
                                    <div class="right_columns">    
                                        <h2>{{ column.event_name }}</h2>
                                    </div>
                                    <div class="right_columns">
                                        <h2>{{ column.event_start_date }} to {{ column.event_end_date }}</h2>
                                    </div>
                                    <div class="right_columns">
                                        <h2>{{ column.event_start_time }} to {{ column.event_end_time }}</h2>
                                    </div>
                                </div>
                            </button>
                        </form>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <footer style="border:black; border-width:1px; border-top:solid; font-family: Arial, Helvetica, sans-serif;">
            <br>
            &copy; 2024 neighborhost.com by dataonlock. All rights reserved.
            <br>
            <br>
        </footer>
    </body>
</html>