<!DOCTYPE html>
<html>
    <head>
        <title>neighborhost.com</title>
        <!-- <style></style> -->
    </head>
    <body>
        <form action="/relogin" method="post">
            <div>
                <h1>neighborhost.com</h1>
                <h3>Looks like the email and/or password you entered was incorrect. Enter your login info again to confirm your event.</h3>
                <div>
                    <input type="text" id="relogin_email" name="relogin_email" placeholder="Email">
                </div>
                
                <br>

                <div>
                    <input type="password" id="relogin_password" name="relogin_password" placeholder="Password">
                </div>

                <br>

                <div>
                    <input type="submit">
                </div>

                <br>
            </div>
        </form>
        <footer>&copy; 2024 neighborhost.com by dataonlock. All rights reserved.</footer> 
    </body>
</html>